* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  justify-content: center;
}

/* Style the topnav links */

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #a63f3f;
  padding: 10px;
  height: auto;
}

/* Search Bar */

.search-bar {
  overflow: hidden;
}

.search-bar a:hover {
  background-color: #ddd;
  color: black;
}

.search-bar a {
  color: #f2f2f2;

  float: right;
  display: block;
  background-color: #333;

  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.search-bar input[type="text"] {
  float: right;
  padding: 14px 16px;
  border: none;
  margin-top: 1px;
  margin-right: 6px;
  font-size: 17px;
}

/* ITEMS */
.home-page {
  display: flexbox;
}

.home-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.items-for-sale {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.listed-item-row {
  display: block;
  text-align: center;
  background-color: burlywood;
}

.listed-item {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  width: 350px;
  height: 350px;
  background-color: powderblue;
  overflow: hidden;
  display: inline-block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listed-item-img {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

.listed-item-info {
  margin: auto;
  width: 250px;
  height: 80px;
  padding: 0px;
}
.listed-item-info p {
  margin: auto;
  width: 120px;
  height: 60px;
  overflow: hidden;
}

.listed-item-buttons {
  display: block;
  text-align: center;

  margin: auto;
  padding-top: 2ch;
}

.listed-item a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  margin: 2px;
}

.listed-item a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #610e43;
  padding: 10px;
}
