* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1e3636;
  justify-content: center;
  resize: vertical;
}

/* Style the topnav links */

.nav-logo {
  margin: 5px;
  height: 40px;
  width: 250px;
  float: right;

  text-align: center;
  font-size: 30px;
  color: #f2f2f2;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #f2f2f2;
  padding: 10px;
  height: auto;
}

/* Search Bar */

.search-bar {
  overflow: hidden;
}

.search-bar a:hover {
  background-color: #ddd;
  color: black;
}

.search-bar a {
  color: #f2f2f2;

  float: right;
  display: block;
  background-color: #333;

  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.search-bar input[type="text"] {
  float: right;
  padding: 14px 16px;
  border: none;
  margin-top: 1px;
  margin-right: 6px;
  font-size: 17px;
}

/* My items */

.my-items-page {
  display: flexbox;
}

.my-items-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

/* ITEMS */
.home-page {
  display: flexbox;
}

.home-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.items-for-sale {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.listed-item-row {
  display: block;
  text-align: center;
  background-color: #1e3636;
}

.listed-item {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 350px;
  height: 350px;
  background-color: #f2f2f2;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listed-item-img {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  max-block-size: 180px;
}

.listed-item-info {
  position: relative;
  padding: 5px;
}
.listed-item-info p {
  text-align: center;
  margin: auto;
  width: 280px;
  height: 80px;
  overflow: hidden;
}

.listed-item-buttons {
  display: inline-block;
  text-align: center;
  padding: 5px;

  margin: 0 auto;
}

.listed-item a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  margin: 2px;
}

.listed-item a:hover {
  background-color: #ddd;
  color: black;
}

/* Register   */

.register-page {
  display: block;
  background-color: #1e3636;
  padding: 14px 16px;

  margin: 15px;
}

.register-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;

  color: #f2f2f2;
}

.register-form {
  display: block;
  padding: 5px;
  color: #f2f2f2;
  margin: 5px;
  height: auto;
  width: auto;
}

.register-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.register-form label {
  margin: 5px;
  height: auto;
  width: auto;
  color: #f2f2f2;
}

.register-form a {
  color: #f2f2f2;

  display: block;
  background-color: #333;

  float: right;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.register-form a:hover {
  color: #333;
  background-color: #f2f2f2;
}

.link-login {
  color: #f2f2f2;
}

/* Login */

.login-page {
  display: block;
  background-color: #1e3636;
  padding: 14px 16px;

  margin: 15px;
}

.login-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;

  color: #f2f2f2;
}

.login-form {
  display: block;
  padding: 5px;

  color: #f2f2f2;

  margin: 5px;
  height: auto;
  width: auto;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.login-form label {
  margin: 5px;
  height: auto;
  width: auto;
  color: #f2f2f2;
}

.login-form a {
  color: #f2f2f2;

  display: block;
  background-color: #333;

  float: right;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.login-form a:hover {
  color: #333;
  background-color: #f2f2f2;
}

.link-register {
  color: #f2f2f2;
}

/* Add item */

.add-item-page {
  display: block;
  background-color: #1e3636;
  padding: 35px 16px;

  margin: 15px;
}

.add-item-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;

  color: #f2f2f2;
}

.add-item-form {
  display: block;
  padding: 5px;

  color: #f2f2f2;

  margin: 5px;
  height: auto;
  width: auto;
}

.add-item-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.add-item-form label {
  margin: 5px;
  height: auto;
  width: auto;
  color: #f2f2f2;
}

.add-item-form a {
  color: #f2f2f2;

  display: block;
  background-color: #333;

  float: right;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.add-item-form a:hover {
  color: #333;
  background-color: #f2f2f2;
}

/* Edit item */

.edit-item-page {
  display: block;
  background-color: #1e3636;
  padding: 35px 16px;

  margin: 15px;
}

.edit-item-page h2 {
  width: 100%;
  text-align: center;
  font-size: 35px;

  color: #f2f2f2;
}

.edit-item-form {
  display: block;
  padding: 5px;

  color: #f2f2f2;

  margin: 5px;
  height: auto;
  width: auto;
}

.edit-item-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.edit-item-form label {
  margin: 5px;
  height: auto;
  width: auto;
  color: #f2f2f2;
}

.edit-item-form a {
  color: #f2f2f2;

  display: block;
  background-color: #333;

  float: right;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.edit-item-form a:hover {
  color: #333;
  background-color: #f2f2f2;
}

/* Style the footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  background-color: #1e3636;
  padding: 10px;
}
